#button {
	display: flex;
}

#button a {
  margin: 0px auto;
  padding: 10px 24px;
  display: inline-block;
  min-width: 350.867px;
  color: #fff;
	background-color: #171717;
  border: 1px solid #171717;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}