#green_delivery {
  margin: 0;
  padding: 0 0 0 29px;
  color: #181818;
  font-size: 13px;
  text-align: left;
  line-height: 16px;
}

#green_delivery > h4 {
  margin-bottom: 8px;
  padding: 0 0 0 29px;
  background: url('https://storage.googleapis.com/img.triggermail.io/city_furniture/TriggeredGreenLeafpng.png') no-repeat left;
  color: #171717;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.346667px;
}

#green_delivery p {
  padding: 0 0 0 29px;
}

#green_delivery a {
  padding: 0;
  text-decoration: underline;
}