@import url('./divider.css');
@import url('./button.css');

#items-displayer .subtitle {
  margin: 24px 0 28px;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.346667px;
  color: #3A3A3A;
  text-align: left;
  text-transform: uppercase;
}

#items-displayer ul {
  margin: 0 auto 40px;
  display: flex;
  list-style: none;
}

#items-displayer li {
  margin: 0 28px;
  width: 144px;
}

#items-displayer li.remaining {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.346667px;
  color: #555555;
}

#items-displayer li.remaining span {
  font-size: 16px;
  margin-top: 65px;
}

#items-displayer img {
  width: 100%;
}

#items-displayer span {
  font-size: 12px;
  display: block;
  text-align: center;
}

#items-displayer .item-name {
  margin-bottom: 8px;
  color: #171717;
  font-weight: 700;
}