@import url('./divider.css');
@import url('./button.css');

#returns_or_damages .wrapper {
  float: left;
  width: 100%;
}

#returns_or_damages p {
  float: left;
  line-height: 25px;
  margin: 0 0 1.5rem;
  color: rgba(0, 0, 0, 0.85);
  text-align: left;
}