@import url('./divider.css');

#warranty .wrapper {
  width: 100%;
}

#warranty .text {
  margin: 19px 0 24px;
  text-align: left;
  font-size: 13px;
  line-height: 15px;
  color: #181818;
}

#warranty .box {
  min-width: 192.16px;
  max-width: 192.16px;
  padding: 23px 13px 30px 14px;
  float: left;
  background-color: #F8F8F8;
  box-sizing: border-box;
}

#warranty .box > .title {
  text-align: center;
  margin-top: 24px;
}

#warranty .box > .text {
  margin: 0;
  text-align: left;
  font-size: 12px;
  line-height: 14px;
  color: #181818;
}

#warranty .title {
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  color: #3A3A3A;
}

#warranty ul {
  padding: 0;
  text-align: left;
}

#warranty .list-element {
  font-size: 13px;
  padding-left: 25px;
  padding-top: 2px;
  margin: 3.5px 0;
  list-style: none;
}

#warranty .list-element.checked {
  background: url('https://storage.googleapis.com/img.triggermail.io/city_furniture/Triggered-included.png') no-repeat 0px 3px;
}

#warranty .button {
  width: 223px;
  display: inline-block;
  padding: 11px 22px;
  margin-top: 36px;
  border: 1px solid #171717;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 1.75px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #171717;
}