<!-- [REQUIRED] IMPORT HTML FROM BASE HTML FILE -->
{% extends "email-skeleton.html" %}

<!-- VARIABLES -->
{% set widgetName = "button" %}
{% set days_prior = "0" %}

<!-- WINDOW TITLE  -->
{% block title %} {{widgetName.capitalize()}} {% endblock %}

<!-- TEMPLATE HEAD  -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/button.css') }}" />
{% endblock %}

<!-- TEMPLATE BODY  -->
{% block content %}

<!-- FOR BLUECORE CODE BLOCK COPY BELOW THIS LINE UNTIL END OF TAG -->
{# BUTTON #}

<!-- Widget -->

<div id="button">
  <a
    target="_blank"
    href="https://www.cityfurniture.co
    /account/orders{% if
    ord_autofill_login %}?alk={{
    ord_autofill_login }}{% endif %}"
  >
    {% if days_prior == "0" %}
    reschedule your delivery
    {% else %}
    confirm my delivery
    {% endif %}
  </a>
</div>

<!-- end widget -->

{% endblock %}