<!-- [REQUIRED] IMPORT HTML FROM BASE HTML FILE -->
{% extends "email-skeleton.html" %}

<!-- VARIABLES -->
{% set widgetName = "callout" %}

<!-- WINDOW TITLE  -->
{% block title %} {{widgetName.capitalize()}} {% endblock %}

<!-- TEMPLATE HEAD  -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/callout.css') }}" />
    <!-- <link id="mobile-css" media="(max-width: 482px)" rel="stylesheet" href="{{ url_for('static', filename='css/widgets/folder/mobile.css') }}" /> -->
{% endblock %}

<!-- TEMPLATE BODY  -->
{% block content %}

<!-- FOR BLUECORE CODE BLOCK COPY BELOW THIS LINE UNTIL END OF TAG -->
{# CALLOUT #}

<!-- Widget -->

<div id="callout">
  <span class="required">action required</span>
  <h6>reschedule your delivery</h6>
  <p>Please reschedule your delivery appointment date as soon as possible to avoid potential stock and delivery delays</p>
</div>

<!-- end widget -->

{% endblock %}