<!-- [REQUIRED] IMPORT HTML FROM BASE HTML FILE -->
{% extends "email-skeleton.html" %}

<!-- VARIABLES -->
{% set widgetName = "divider" %}

<!-- WINDOW TITLE  -->
{% block title %} {{widgetName.capitalize()}} {% endblock %}

<!-- TEMPLATE HEAD  -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/divider.css') }}" />
    <!-- <link id="mobile-css" media="(max-width: 482px)" rel="stylesheet" href="{{ url_for('static', filename='css/widgets/folder/mobile.css') }}" /> -->
{% endblock %}

<!-- TEMPLATE BODY  -->
{% block content %}

<!-- FOR BLUECORE CODE BLOCK COPY BELOW THIS LINE UNTIL END OF TAG -->
{# DIVIDER #}

<!-- Widget -->

<div id="divider">
    <h2>
        items being delivered
    </h2>
    
    <div class="divider-container">
        <div class="divider">
            <!-- Empty -->
        </div>
    </div>
</div>

<!-- end widget -->

{% endblock %}