<!-- [REQUIRED] IMPORT HTML FROM BASE HTML FILE -->
{% extends "template-skeleton.html" %}

<!-- VARIABLES -->
{% set widgetName = "green delivery" %}
{% set ord_type = "in-house" %}
{% set ord_service_category = "Delivery" %}
{% set ord_balance_due = "$0.00" %}

<!-- WINDOW TITLE  -->
{% block title %} {{widgetName.capitalize()}} {% endblock %}

<!-- TEMPLATE HEAD  -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/green-delivery.css') }}" />
{% endblock %}

<!-- TEMPLATE BODY  -->
{% block content %}

<!-- FOR BLUECORE CODE BLOCK COPY BELOW THIS LINE UNTIL END OF TAG -->
{# GREEN DELIVERY #}

<!-- Widget -->
{% if ord_type == "in-house" or ord_type == "mixed" %}
{% if ord_service_category == "Delivery" and ord_balance_due == "$0.00" %}

<div id="green_delivery">
  <h4>green delivery</h4>
  <p>
    100% of our trucks use compressed natural gas as we drive towards a carbon neutral future.
    <a href="https://www.cityfurniture.com/green-promise">Learn more about our 2040 Green Promise</a>
  </p>
</div>

{% endif %}{% endif %}
<!-- end widget -->

{% endblock %}