<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Home | Widgets Manager</title>
</head>
<body>
  <div class="container">
    <h1 class="main-title">List of Widgets</h1>

    <ul class="list-container">
      <li>
        <a href="/title">Title</a>
      </li>
      <li>
        <a href="/order-number-and-date">Order Number & Date</a>
      </li>
      <li>
        <a href="/divider">Divider</a>
      </li>
      <li>
        <a href="/status-bar">Status Bar</a>
      </li>
      <li>
        <a href="/returns-or-damages">Returns or Damages</a>
      </li>
      <li>
        <a href="/order-details">Order Details</a>
      </li>
      <li>
        <a href="/items-displayer">Items Displayer</a>
      </li>
      <li>
        <a href="/callout">Callout</a>
      </li>
      <li>
        <a href="/green-delivery">Green Delivery</a>
      </li>
      <li>
        <a href="/button">Button</a>
      </li>
      <li>
        <a href="/footer">Footer</a>
      </li>
      <li>
        <a href="/message">Message</a>
      </li>
      <li>
        <a href="/sales-rep">Sales Rep</a>
      </li>
    </ul>

    <h4 class="end">END</h4>
  </div>
</body>
</html>