<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Home | Widgets Manager</title>
</head>
<body>
  <div class="container">
    <h1 class="main-title">List of Widgets</h1>

    <ul class="list-container">
      <li>
        <a href="/section-divider">Section Divider</a>
      </li>
      <li>
        <a href="/order-details">Order Details</a>
      </li>
    </ul>

    <h4 class="end">END</h4>
  </div>
</body>
</html>