<!-- [REQUIRED] IMPORT HTML FROM BASE HTML FILE -->
{% extends "email-skeleton.html" %}

<!-- VARIABLES -->
{% set widgetName = "items displayer" %}
{%
    set del_line = [
        {
            "name": "Bohan Black Leather Large Two-arm Sectional",
            "qty": "1",
            "price": "$4,199.95",
            "imgUrl": "https://embed.widencdn.net/img/cityfurniture/rgn2yuacv6/650x440px/Z2109719367F00_KU_BOHAN_BLK_LR_L_2A_SEC.jpeg?keep=c&crop=0&u=m2xgp2",
            "avail_date": "March 07, 2022",
            "children": []
        },
        {
            "name": "Chelsea Light Beige Uph Platform Bed",
            "qty": "1",
            "price": "$1,099.95",
            "imgUrl": "https://embed.widencdn.net/img/cityfurniture/60spouvrc3/650x440px/Z2109723551R01_MF_CHELSE_LBG_UP_PL_BD_K.jpeg?keep=c&crop=0&u=m2xgp2",
            "avail_date": "March 07, 2022",
            "children": []
        },
        {
            "name": "Chelsea Light Gray Uph Platform Bed",
            "qty": "1",
            "price": "$799.95",
            "imgUrl": "https://embed.widencdn.net/img/cityfurniture/yot7erve8q/650x440px/Z2109723554F00_MF_CHELSE_LGY_UP_PL_BD_Q.jpeg?keep=c&crop=0&u=m2xgp2",
            "avail_date": "March 07, 2022",
            "children": []
        },
    ]
%}

<!-- WINDOW TITLE  -->
{% block title %} {{widgetName.capitalize()}} {% endblock %}

<!-- TEMPLATE HEAD  -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/items-displayer.css') }}" />
    <!-- <link id="mobile-css" media="(max-width: 482px)" rel="stylesheet" href="{{ url_for('static', filename='css/widgets/folder/mobile.css') }}" /> -->
{% endblock %}

<!-- TEMPLATE BODY  -->
{% block content %}

<!-- FOR BLUECORE CODE BLOCK COPY BELOW THIS LINE UNTIL END OF TAG -->
{# ITEMS DISPLAYER #}

<!-- Widget -->

{% if del_line|length() > 0 %}

<div id="items-displayer">
    <!-- Divider -->
    <div id="divider">
        <h2>
            items being delivered
        </h2>
        
        <div class="divider-container">
            <div class="divider">
                <!-- Empty -->
            </div>
        </div>
    </div>
    <!-- end divider -->

    <!-- Subtitle  -->
    <!-- <h4 class="subtitle">
        ready to schedule
    </h4> -->
    <!-- end subtitle -->

    <!-- List  -->
    <ul>
        {% for item in del_line %}
            {% if loop.index > 3 %}
            {% elif loop.index > 2 and del_line|length - 3 > 0 %}
            <li class="remaining">
                <span>+</span>
                <p>{{ del_line|length - 3 }} Items</p>
            </li>
            {% else %}
            <li>
                <img src="{{ item.imgUrl }}" alt="image item">
                <span class="item-name">{{ item.name }}</span>
                <span>{{ item.price }}</span>
                <span>Qty: {{ item.qty }}</span>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <!-- end list -->

    <!-- Button  -->
    <div id="button">
        <a
          class="light"
          target="_blank"
          href="https://www.cityfurniture.co
          /account/orders{% if
          ord_autofill_login %}?alk={{
          ord_autofill_login }}{% endif %}"
        >
          view order details
        </a>
      </div>
    <!-- end button -->
</div>

{% endif %}
<!-- end widget -->

{% endblock %}