{% extends "email-skeleton.html" %}
{% set widgetName = "order number and date" %}
{% block title %} {{widgetName.capitalize()}} {% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/order-number-and-date.css') }}" />
    <!-- <link id="mobile-css" media="(max-width: 482px)" rel="stylesheet" href="{{ url_for('static', filename='css/widgets/folder/mobile.css') }}" /> -->
{% endblock %}
{% block content %}

<!-- Variables -->
{% set ord_number = "767659" %}
{% set invoice_date = "Mar 03, 2022" %}
<!-- end variables -->

<!-- Widget -->
<div id="order_number_and_date">
  <p class="number">Order Number <b>{{ord_number}}</b></p>
  <p class="date">Order Date <b>{{invoice_date}}</b></p>  
</div>
<!-- end widget -->

{% endblock %}