<!-- [REQUIRED] IMPORT HTML FROM BASE HTML FILE -->
{% extends "email-skeleton.html" %}

<!-- VARIABLES -->
{% set widgetName = "order details" %}
{% set ord_service_level = "Premium Delivery" %}
{% set ord_ddate = "Monday, October 10, 2019" %}
{% set ord_dtime = "9:00am - 5:00pm" %}
{% set ord_fully_unreservable = false %}
{% set ord_elev_resv_needs_confirmation = false %}
{% set ord_status = "scheduled" %}
{% set ord_type = "something" %}
{% set ord_shipto_name = "Meghana Saoji" %}
{% set ord_shipto_line1 = "1232 Formosa Ave" %}
{% set ord_shipto_line2 = "Unit 2" %}
{% set ord_shipto_city = "Winter Park" %}
{% set ord_shipto_state = "FL" %}
{% set ord_shipto_zip = "32789-5332" %}
{% set ord_shipto_phone_2 = "(321)948-0100" %}
{% set minHeight = "362px" if ord_service_level == "Pickup" else "302px" %}

<!-- WINDOW TITLE  -->
{% block title %} {{widgetName.capitalize()}} {% endblock %}

<!-- TEMPLATE HEAD  -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/order-details.css') }}" />
{% endblock %}

<!-- TEMPLATE BODY  -->
{% block content %}

<!-- FOR BLUECORE CODE BLOCK COPY BELOW THIS LINE UNTIL END OF TAG -->
{# ORDER DETAILS #}

<!-- Widget -->

{% if ord_fully_unreservable == false %}
{% if ord_status == "scheduled" and ord_type != "dropship" and ord_type != "third-party" and ord_type != "take" and ord_elev_resv_needs_confirmation == false %}
<div id="order_details">

    <!-- Divider -->
    <div id="divider">
        <h2>
            {% if ord_service_level == "Free Shipping" or ord_service_level == "Shipping" %}
            shipping details
            {% elif ord_service_level == "Premium Delivery" %}
            premium delivery details
            {% elif ord_service_level == "Pickup" %}
            pickup details
            {% endif %}
        </h2>
        
        <div class="divider-container">
            <div class="divider">
                <!-- Empty -->
            </div>
        </div>
    </div>
    <!-- end divider -->
    
    <!-- Details  -->
    <div class="wrapper">

        <!-- Left column -->

        <!-- desktop mode  -->
        <div class="left mobile-hide">
            <div class="gray-box" style="margin-bottom:8px">
                <h4>
                    {% if ord_service_level == "Pickup" %}
                    pick up
                    {% else %}
                    delivery date & time
                    {% endif %}
                </h4>
    
                <p>{{ord_ddate}} </p>
                <p>{{ord_dtime}}</p>
    
                <div class="flex">
                    <a
                        class="link"
                        href="
                        {% if ord_service_level == "Pickup" %}
                        https://calendar.google.com/calendar/r/eventedit?dates=={{ord_dtime_start}}%2F={{ord_dtime_end}}&text=={{ord_service_level}}+from+City+Furniture&location=={{dc_line1}}+={{dc_city}},+={{dc_state}}+={{dc_zip}}&details&sf=true
                        {% else %}
                        https://calendar.google.com/calendar/r/eventedit?dates=={{ord_dtime_start}}%2F={{ord_dtime_end}}&text=={{ord_service_level}}+from+City+Furniture&location=={{ord_shipto_line1}}+={{ord_shipto_line2}}+={{ord_shipto_city}},+={{ord_shipto_state}}+={{ord_shipto_zip}}&details&sf=true
                        {% endif %}
                        "
                        target="_blank"
                    >
                        add to calendar
                    </a>
                </div>
            </div>
    
            <div class="gray-box">
                <h4>
                    {% if ord_service_level == "Pickup" %}
                    pickup location
                    {% else %}
                    delivery address
                    {% endif %}
                </h4>
    
                <p>
                    {% if ord_service_level == "Pickup" %}
                    {{dc_name}}
                    {% else %}
                    {{ord_shipto_name}}
                    {% endif %}
                </p>
                <p>
                    {% if ord_service_level == "Pickup" %}
                    {{dc_line1}}
                    {% else %}
                    {{ord_shipto_line1}}
                        {% if ord_shipto_line2 != "" %}
                        {{ord_shipto_line2}}
                        {% endif %}
                    {% endif %}
                </p>
                <p>
                    {% if ord_service_level == "Pickup" %}
                    {{dc_city}}, {{dc_state}} {{dc_zip}}
                    {% else %}
                    {{ord_shipto_city}}, {{ord_shipto_state}} {{ord_shipto_zip}}
                    {% endif %}
                </p>
                <p>
                    {% if ord_service_level == "Pickup" %}
                    {% else %}
                    {{ord_shipto_phone}}
                    {% if ord_shipto_phone_2 != "" %}
                    {{ord_shipto_phone_2}}
                    {% endif %}
                    {% endif %}
                </p>
    
                {% if ord_service_level == "Pickup" %}
                <div class="flex">
                    <a
                        class="link"
    
                        href="https://www.google.com/maps/place/={{dc_line1}}+={{dc_city}},+={{dc_state}}+={{dc_zip}}/"
    
                        target="_blank"
                    >
                        view on map
                    </a>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- mobile mode -->
        <div class="left desktop-hide" style="width:100%;">
            <div class="gray-box" style="margin-bottom:8px">
                <h4>
                    {% if ord_service_level == "Pickup" %}
                    pick up
                    {% else %}
                    delivery date & time
                    {% endif %}
                </h4>
    
                <p>{{ord_ddate}} </p>
                <p>{{ord_dtime}}</p>
    
                <div class="flex">
                    <a
                        class="link"
                        href="
                        {% if ord_service_level == "Pickup" %}
                        https://calendar.google.com/calendar/r/eventedit?dates=={{ord_dtime_start}}%2F={{ord_dtime_end}}&text=={{ord_service_level}}+from+City+Furniture&location=={{dc_line1}}+={{dc_city}},+={{dc_state}}+={{dc_zip}}&details&sf=true
                        {% else %}
                        https://calendar.google.com/calendar/r/eventedit?dates=={{ord_dtime_start}}%2F={{ord_dtime_end}}&text=={{ord_service_level}}+from+City+Furniture&location=={{ord_shipto_line1}}+={{ord_shipto_line2}}+={{ord_shipto_city}},+={{ord_shipto_state}}+={{ord_shipto_zip}}&details&sf=true
                        {% endif %}
                        "
                        target="_blank"
                    >
                        add to calendar
                    </a>
                </div>
            </div>
    
            <div class="gray-box">
                <h4>
                    {% if ord_service_level == "Pickup" %}
                    pickup location
                    {% else %}
                    delivery address
                    {% endif %}
                </h4>
    
                <p>
                    {% if ord_service_level == "Pickup" %}
                    {{dc_name}}
                    {% else %}
                    {{ord_shipto_name}}
                    {% endif %}
                </p>
                <p>
                    {% if ord_service_level == "Pickup" %}
                    {{dc_line1}}
                    {% else %}
                    {{ord_shipto_line1}}
                        {% if ord_shipto_line2 != "" %}
                        {{ord_shipto_line2}}
                        {% endif %}
                    {% endif %}
                </p>
                <p>
                    {% if ord_service_level == "Pickup" %}
                    {{dc_city}}, {{dc_state}} {{dc_zip}}
                    {% else %}
                    {{ord_shipto_city}}, {{ord_shipto_state}} {{ord_shipto_zip}}
                    {% endif %}
                </p>
                <p>
                    {% if ord_service_level == "Pickup" %}
                    {% else %}
                    {{ord_shipto_phone}}
                    {% if ord_shipto_phone_2 != "" %}
                    {{ord_shipto_phone_2}}
                    {% endif %}
                    {% endif %}
                </p>
    
                {% if ord_service_level == "Pickup" %}
                <div class="flex">
                    <a
                        class="link"
    
                        href="https://www.google.com/maps/place/={{dc_line1}}+={{dc_city}},+={{dc_state}}+={{dc_zip}}/"
    
                        target="_blank"
                    >
                        view on map
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- end column -->
    
        <!-- Right column -->

        <!-- desktop mode  -->
        <div class="right mobile-hide">
            <div class="gray-box" style="min-height:{{ minHeight }};">
                <h4>delivery method</h4>
    
                <h3>
                    {% if ord_service_level == "Pickup" %}
                    self {{ ord_service_level }}
                    {% elif ord_service_level == "Free Shipping" %}
                    shipping
                    {% else %}
                    {{ ord_service_level }}
                    {% endif %}
                </h3>
    
                <h4>what to expect</h4>
    
                <ul>
                    {% if ord_service_level == "Free Shipping" or ord_service_level == "Shipping" %}
                    <li class="list-element checked">
                        Arrives unassembled in original packagin
                    </li>
                    <li class="list-element checked">
                        Assembly is not included
                    </li>
                    <li class="list-element checked">
                        Packaging disposal is not included
                    </li>
                    <li class="list-element unchecked">
                        First floor drop-off
                    </li>
                    <li class="list-element unchecked">
                        Walk-up: First floor drop-off at bottom of stairs
                    </li>
                    <li class="list-element unchecked">
                        Buildings: Inside lobby front door, loading dock or freight elevator
                    </li>
                    <li class="list-element unchecked">
                        Homes: Inside front door
                    </li>
                    <li class="list-element unchecked">
                        Signature required
                    </li>
                    {% elif ord_service_level == "Premium Delivery" %}
                    <li class="list-element unchecked">
                        Clear the area where the delivery will be placed
                    </li>
                    <li class="list-element unchecked">
                        Cover your floors
                    </li>
                    <li class="list-element checked">
                        Furniture is fully inspected and assembled
                    </li>
                    <li class="list-element checked">
                        Placement in your room of choice
                    </li>
                    <li class="list-element checked">
                        We dispose of all packaging
                    </li>
                    <li class="list-element checked">
                        Final check before depature
                    </li>
                    {% elif ord_service_level == "Pickup" %}
                    <li class="list-element checked">
                        Packaging disposal is not included
                    </li>
                    <li class="list-element unchecked">
                        First floor drop-off
                    </li>
                    <li class="list-element unchecked">
                        Walk-up: First floor drop-off at bottom of stairs
                    </li>
                    <li class="list-element unchecked">
                        Buildings: Inside lobby front door, loading dock or freight elevator
                    </li>
                    <li class="list-element unchecked">
                        Homes: Inside front door
                    </li>
                    <li class="list-element unchecked">
                        Signature required
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <!-- mobile mode  -->
        <div class="right desktop-hide" style="padding: 9px 0 0;">
            <div class="gray-box" style="min-height:{{ minHeight }};">
                <h4>delivery method</h4>
    
                <h3>
                    {% if ord_service_level == "Pickup" %}
                    self {{ ord_service_level }}
                    {% elif ord_service_level == "Free Shipping" %}
                    shipping
                    {% else %}
                    {{ ord_service_level }}
                    {% endif %}
                </h3>
    
                <h4>what to expect</h4>
    
                <ul>
                    {% if ord_service_level == "Free Shipping" or ord_service_level == "Shipping" %}
                    <li class="list-element checked">
                        Arrives unassembled in original packagin
                    </li>
                    <li class="list-element checked">
                        Assembly is not included
                    </li>
                    <li class="list-element checked">
                        Packaging disposal is not included
                    </li>
                    <li class="list-element unchecked">
                        First floor drop-off
                    </li>
                    <li class="list-element unchecked">
                        Walk-up: First floor drop-off at bottom of stairs
                    </li>
                    <li class="list-element unchecked">
                        Buildings: Inside lobby front door, loading dock or freight elevator
                    </li>
                    <li class="list-element unchecked">
                        Homes: Inside front door
                    </li>
                    <li class="list-element unchecked">
                        Signature required
                    </li>
                    {% elif ord_service_level == "Premium Delivery" %}
                    <li class="list-element unchecked">
                        Clear the area where the delivery will be placed
                    </li>
                    <li class="list-element unchecked">
                        Cover your floors
                    </li>
                    <li class="list-element checked">
                        Furniture is fully inspected and assembled
                    </li>
                    <li class="list-element checked">
                        Placement in your room of choice
                    </li>
                    <li class="list-element checked">
                        We dispose of all packaging
                    </li>
                    <li class="list-element checked">
                        Final check before depature
                    </li>
                    {% elif ord_service_level == "Pickup" %}
                    <li class="list-element checked">
                        Packaging disposal is not included
                    </li>
                    <li class="list-element unchecked">
                        First floor drop-off
                    </li>
                    <li class="list-element unchecked">
                        Walk-up: First floor drop-off at bottom of stairs
                    </li>
                    <li class="list-element unchecked">
                        Buildings: Inside lobby front door, loading dock or freight elevator
                    </li>
                    <li class="list-element unchecked">
                        Homes: Inside front door
                    </li>
                    <li class="list-element unchecked">
                        Signature required
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <!-- end column -->
    
        <!-- CTAs -->
        <div id="button" style="margin-top:25px;">
            <a
                target="_blank"
                href="https://www.cityfurniture.co
                /account/orders{% if
                ord_autofill_login %}?alk={{
                ord_autofill_login }}{% endif %}"
            >
                how to prepare for
                {% if ord_service_level == "Pickup" %}
                pickup
                {% else %}
                delivery
                {% endif %}
            </a>
        </div>
        <!-- end CTAs -->
    </div>

</div>
{% endif %}{% endif %}

<!-- end widget -->

{% endblock %}