<!-- [REQUIRED] IMPORT HTML FROM BASE HTML FILE -->
{% extends "template-skeleton.html" %}

<!-- VARIABLES -->
{% set widgetName = "sales representant" %}
{% set sales_name = "Eduardo Muñoz" %}
{% set sales_phone = "+59632547895" %}
{% set sales_email = "ed_muñoz@gmail.com" %}

<!-- WINDOW TITLE  -->
{% block title %} {{widgetName.capitalize()}} {% endblock %}

<!-- TEMPLATE HEAD  -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/sales-rep.css') }}" />
{% endblock %}

<!-- TEMPLATE BODY  -->
{% block content %}

<!-- FOR BLUECORE CODE BLOCK COPY BELOW THIS LINE UNTIL END OF TAG -->
{# SALES REPRESENTANT #}

<!-- Widget -->

<div id="sales_rep">
    <img src="https://storage.googleapis.com/img.triggermail.io/city_furniture/profileImagePlaceholder.png" alt="profile icon">
    <div class="wrapper">
        <p class="title">A NOTE FROM {{ sales_name.upper() }}</p>
        <p class="content">Hi there. I’m here to help so feel free to reach out to me with any questions.</p>
        <p class="contact mobile-hide">
            <a href="tel:{{ sales_phone }}">{{ sales_phone }}</a>
            <a href="mailto:{{ sales_email }}" style="margin-left: 24px;">{{ sales_email }}</a>
        </p>
        <p class="contact desktop-hide">
            <a href="tel:{{ sales_phone }}">{{ sales_phone }}</a>
            <a href="mailto:{{ sales_email }}" style="display:block;margin-top:8px;">{{ sales_email }}</a>
        </p>
    </div>
</div>

<!-- end widget -->

{% endblock %}