<!-- [REQUIRED] IMPORT HTML FROM BASE HTML FILE -->
{% extends "template-skeleton.html" %}

<!-- VARIABLES -->
{% set widgetName = "sample" %}

<!-- WINDOW TITLE  -->
{% block title %} {{widgetName.capitalize()}} {% endblock %}

<!-- TEMPLATE HEAD  -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/sample.css') }}" />
{% endblock %}

<!-- TEMPLATE BODY  -->
{% block content %}

<!-- FOR BLUECORE CODE BLOCK COPY BELOW THIS LINE UNTIL END OF TAG -->
{# WIDGET NAME #}

<!-- Widget -->

<div id="sample">
    <h1 class="greetings">hello world</h1>
</div>

<!-- end widget -->

{% endblock %}