{% extends "email-skeleton.html" %}
{% set widgetName = "section divider" %}
{% block title %}{{ widgetName.capitalize() }}{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/section-divider.css') }}" />
{% endblock %}

{% block content %}
<!-- Widget -->

<!-- Heading -->
<h3 class="section-title">
	items being delivered
</h3>
<!-- end heading -->
    
<!-- Divider -->
<div class="divider-container">
    <div class="divider">
        <!-- no content -->
    </div>
</div>
<!-- end divider -->

<!-- end widget -->
{% endblock %}