<!-- [REQUIRED] IMPORT HTML FROM BASE HTML FILE -->
{% extends "template-skeleton.html" %}

<!-- VARIABLES -->
{% set widgetName = "status bar" %}

<!-- WINDOW TITLE  -->
{% block title %} {{widgetName.capitalize()}} {% endblock %}

<!-- TEMPLATE HEAD  -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/status-bar.css') }}" />
{% endblock %}

<!-- TEMPLATE BODY  -->
{% block content %}

<!-- FOR BLUECORE CODE BLOCK COPY BELOW THIS LINE UNTIL END OF TAG -->
{# STATUS BAR #}

<!-- Widget -->

<div id="status_bar">
  <img
    alt="status bar"
    src="https://storage.googleapis.com/img.triggermail.io/city_furniture/TriggeredStatusActionRequiredDelivered.png"
  />
</div>

<!-- end widget -->

{% endblock %}