<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bluecore-reset.css') }}" />
    <link id="mobile-css" rel="stylesheet" media="(max-width: 482px)" href="{{ url_for('static', filename='css/bluecore-reset-mobile.css') }}" />
    <title>{% block title %}{% endblock %} | Widgets Manager</title>
    {% endblock %}
</head>
<body class="body-styles">
  <nav class="navigator">
    <a class="nav-item" href="/">HOME</a>
    <span class="nav-item disabled">
      WIDGET: {{ widgetName }}
    </span>
    <span id="desktop-mode-trigger" class="nav-item" style="grid-column: 4 / 5;">
      DESKTOP
    </span>
    <span id="mobile-mode-trigger" class="nav-item">
      MOBILE
    </span>
  </nav>

  <table id="wrapper-table" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
      <td>
        <table id="content-table" width="600" align="center" cellspacing="0" cellpadding="0" border="0">
          <tr>
            <td id="content-cell">

              {% block content %}{% endblock %}

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  
</body>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>