<!-- [REQUIRED] IMPORT HTML FROM BASE HTML FILE -->
{% extends "email-skeleton.html" %}

<!-- VARIABLES -->
{% set widgetName = "title" %}
{% set days_left_to_confirm = "0" %}

<!-- WINDOW TITLE  -->
{% block title %} {{widgetName.capitalize()}} {% endblock %}

<!-- TEMPLATE HEAD  -->
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets/title.css') }}" />
    <!-- <link id="mobile-css" media="(max-width: 482px)" rel="stylesheet" href="{{ url_for('static', filename='css/widgets/folder/mobile.css') }}" /> -->
{% endblock %}

<!-- TEMPLATE BODY  -->
{% block content %}

<!-- FOR BLUECORE CODE BLOCK COPY BELOW THIS LINE UNTIL END OF TAG -->
{# TITLE #}

<!-- Widget -->

<h1 id="title">
  {% if days_prior == "0" %}
  delivery canceled
  {% elif days_prior == "1" %}
  confirm your delivery
  {% else %}
  please confirm your delivery
  {% endif %}
</h1>

<!-- end widget -->

{% endblock %}